.header {
    background: white;
    color: #333333;
}
 
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 930px;


}
.nav-items {
    display: flex;
    list-style-type: none;
}
.nav-items li{
    display: inline;
}
 
.logo{
    width: 100px;

}
.userinfo{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;


}
.feeditems{
    text-align: center;
}
.feeditems a{
    padding: 10px;
    text-decoration: none;
    color: black;
    
}

.feeditems a:active{
    color: black;
}
.feed img{
    border: 1px solid gray;
}

.feed{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 2px;
    grid-column-gap: 10px;
}
