body{
    margin: auto;
    font-family:  'Khmer', cursive;
    
}

.mainsection{
    background-image: url(https://www.tesla.com/ns_videos/homepage/main_hero_homepage_desktop.jpg);
    height: 100vh;
    background-size: cover ;
    background-repeat: no-repeat;
    background-position-y: -150px;
    


}



.navbar{
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    padding-top:5px ;
    
}


.navitems1, .navitems2 {
    color: white;
    list-style: none;
    display: flex;
    font-size: 8px;
}
.navitems2{
    padding-right: 10px;
    
}

 .linkitems{
    padding-left: 10px;
    padding-right: 10px;
}
.linkitems:hover{
    color: #b1b5ba;
    transition: linear;
    transition: .1s 
}
.logo{
    color: white;
    width: 80px;
}

.content{
   text-align: center;
   margin-top: 50px;
}
#h1{
    font-size: 25px;
    color: white;
    margin-bottom: 5px;
}

#button1:hover{
    
    color: black;
    background-color: white;   
     transition: .3s ;
    


}

#button2:hover{
    
    color: black;
    background-color: white;   
     transition: .3s ;
    


}
 #button1 {
    background-color: transparent;
    border: 1.5px solid white;
    border-radius: 50px;
    font-size: 8px;
    color: white;
    padding: 5px 10px 5px 10px;
    margin-top: 5px;
    

}

#button2 {
    background-color: transparent;
    border: 1.5px solid white;
    border-radius: 50px;
    font-size: 8px;
    color: white;
    padding: 5px 10px 5px 10px;
    margin-top: 5px;}

 #button1{
   
    padding: 5px 20px 5px 20px;
}
a{
    font-size: 10px;
    color: white;
}

a:hover{
    color: #e6eaf0;
}

