<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    <h1>REGISTER</h1>
    <form action="/register" method="POST">
    <div>
        <label for="userName"></label>
        <input placeholder="username" type="text" name="userName" id="userName" required>
      <br>
        <label for="fisrtName"></label>
        <input placeholder="fisrtname" type="text" name="firstName" id="fisrtName" required>
  <br>
        <label for="lastName"></label>
        <input placeholder="lastname" type="text" name="lastName" id="lastName" required>
 <br>
        <label for="password"></label>
        <input placeholder="password" type="password" name="password" id="password" required>
 <br>
        <button type="submit">register</button>
    </div>
</form>
<a href="/login">LOGIN</a>

    </center>
</body>
</html>