<%- include('./partials/header'); -%>
<center>
<form method="POST" action="/product">
    <input type="text" placeholder="entername " name="productname">
    <input type="text" placeholder="enter id  " name="id">
    <input type="text" placeholder="votes" name="vote">
    <input type="text" placeholder="product url " name="imageurl">
    <button type="submit"> submit</button>

</form>

</center>

<%- include('./partials/footer') -%>
